In [1]:
import pysgrs

In [2]:
[c for c in dir(pysgrs) if c.endswith("Alphabet")]

['AsciiAlphabet',
 'BaconAlphabet',
 'BinaryAlphabet',
 'GenericAlphabet',
 'GenericIntegerAlphabet',
 'GenericMixedAlphabet',
 'GenericStringAlphabet',
 'MorseAlphabet',
 'PolybeAlphabet',
 'SimpleAlphabet']

## Simple Alphabet

In [3]:
A = pysgrs.SimpleAlphabet()
print(A)

<SimpleAlphabet size=26 symbols='ABCDEFGHIJKLMNOPQRSTUVWXYZ'>

In [4]:
A.to_dataframe().T

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
symbol,A,B,C,D,E,F,G,H,I,J,...,Q,R,S,T,U,V,W,X,Y,Z
index,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25

In [5]:
g = A.permutations(5)
print([next(g) for i in range(10)])

['ABCDE', 'ABCDF', 'ABCDG', 'ABCDH', 'ABCDI', 'ABCDJ', 'ABCDK', 'ABCDL', 'ABCDM', 'ABCDN']

In [6]:
g = A.product(5)
print([next(g) for i in range(10)])

['AAAAA', 'AAAAB', 'AAAAC', 'AAAAD', 'AAAAE', 'AAAAF', 'AAAAG', 'AAAAH', 'AAAAI', 'AAAAJ']

In [7]:
A.is_monotonic

True

In [8]:
A.is_natural

True

In [9]:
A.index_types

{int}

In [10]:
A.encode("HELLO")

[7, 4, 11, 11, 14]

In [11]:
A.decode([22, 14, 17, 11, 3])

'WORLD'

## ASCII Alphabet

In [12]:
AS = pysgrs.AsciiAlphabet()

In [13]:
AS.to_dataframe().T

,0,1,2,3,4,5,6,7,8,9,...,85,86,87,88,89,90,91,92,93,94
symbol,,!,"""",#,$,%,&,',(,),...,u,v,w,x,y,z,{,|,},~
index,32,33,34,35,36,37,38,39,40,41,...,117,118,119,120,121,122,123,124,125,126

In [14]:
AS.encode("Hello world!")

[72, 101, 108, 108, 111, 32, 119, 111, 114, 108, 100, 33]

In [15]:
AS.decode([70, 111, 111, 32, 66, 97, 114])

'Foo Bar'

In [16]:
AS.is_monotonic

True

In [17]:
AS.is_natural

False

## Morse Alphabet

In [18]:
M = pysgrs.MorseAlphabet()

In [19]:
M.to_dataframe().T

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
symbol,0,1,2,3,4,5,6,7,8,9,...,Q,R,S,T,U,V,W,X,Y,Z
index,-----,*----,**---,***--,****-,*****,-****,--***,---**,----*,...,--*-,*-*,***,-,**-,***-,*--,-**-,-*--,--**

In [20]:
M.index_symbols

{'*', '-'}

In [21]:
M.index_min_size

1

In [22]:
M.index_max_size

5

In [23]:
M.is_index_size_constant

False

In [24]:
M.index_types

{str}

In [25]:
M.encode("SOS")

['***', '---', '***']

In [26]:
M.decode(['-*-*', '*-**', '*', '*-', '*-*'])

'CLEAR'